@media(max-width: 1160px) {

  .product__name {
    width: 350px;
  }

  .seafood__item-content {
    padding-right: 10px;
  }

  .seafood__item--text-right .seafood__item-content {
    padding-right: 0;
    padding-left: 10px;
  }

  .contacts__box {
    background-color: rgba(255, 255, 255, .6);
  }

  .footer .logo,
  .footer .menu {
    display: none;
  }

  .footer {
    padding: 40px 0 40px;
    margin-bottom: 0;
  }

  .footer__inner {
    justify-content: center;
    padding: 0;
  }

  .footer-social__list {
    padding-bottom: 0;
  }

  .contacts {
    margin-bottom: 0;
  }
}

@media(max-width: 1050px) {
  .menu__list {
    position: absolute;
    left: 20%;
    right: 20%;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    display: block;
    top: -370px;
    transition: all .5s;
    margin-right: 0;
    z-index: 5;
  }

  .menu__link:hover {
    border: none;
  }

  .menu__list.menu__list--active {
    top: 80px;
  }

  .menu__item+.menu__item {
    border-top: 1px solid #001e64;

  }

  .menu {
    margin-left: auto;
    margin: 12px 20px 0 auto;
  }

  .menu__btn {
    display: block;
  }

  .menu__item+.menu__item {
    margin-left: 0;
  }

  .menu__link {
    padding: 20px 0;
    display: block;
    text-align: center;
  }

  .product__name {
    width: 250px;
  }

  .seafood__item {
    flex-wrap: wrap;
    justify-content: center;
  }

  .seafood__item--text-right {
    flex-wrap: wrap-reverse;
  }

  .seafood__item-content {
    padding-right: 0;
  }

  .seafood__item--text-right .seafood__item-content {
    padding-left: 0;
    margin-right: 0;
  }

  .seafood__item--text-right .seafood__item-title {
    max-width: 100%;
  }

  .seafood__item-title,
  .seafood__item-text {
    max-width: 100%;
  }

  .seafood__items {
    text-align: center;
  }

  .seafood img {
    max-width: 100%;
  }

  .contacts__box {
    margin: 0 auto;
    text-align: center;
    padding: 33px 0;
  }

  .contacts__box-text {
    width: 100%;
  }
}

@media(max-width: 890px) {
  .product__inner {
    display: block;
  }

  .product__content {
    margin: 0 auto;
  }

  .product__name {
    width: 100%;
    padding-top: 0;
    margin-bottom: 80px;
  }

  .product__name-item.slick-current {
    line-height: 44px;
  }

  .product__name-item+.product__name-item {
    margin-top: 0;
  }

  .product__name .slick-dots {
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    top: 100px;
  }

  .product__name .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 5px;
  }

  .product__name .slick-active button {
    background-color: #001e64;
  }

}


@media(max-width: 800px) {
  .title {
    margin: 0 auto;
    padding-left: 0;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
  }

  .header__content {
    min-height: 100%;
  }

  .product {
    padding-top: 50px;
  }

}

@media(max-width: 650px) {
  .product__content {
    width: 100%;
  }

  .seafood-box {
    display: none;
  }

  .seafood {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .seafood__items {
    margin-bottom: 50px;
  }
}

@media(max-width: 600px) {
  .product__content-box {
    display: block;
    text-align: center;
  }

  .product__content-list {
    width: 100%;
  }

  .product__content-img {
    margin: 0 auto;
  }

  .product__content-title {
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .product__content-title,
  .product__content-text {
    text-align: center;
  }

  .product__content-btn {
    display: block;
    margin: 0 auto;
  }

  .product__content-item {
    margin-bottom: 10px;
  }

  .product__content-item span {
    margin-bottom: 0;
  }

}

@media(max-width: 570px) {
  .header-slider {
    padding-left: 50px;
  }

  .slick-dots {
    left: 5px;
  }

  .slick-prev,
  .slick-next {
    left: 9px;
  }

  .header__content-btn {
    margin-left: 50px;
  }

  .logo {
    margin-left: 0;
  }

  .phone {
    margin-right: 0;
  }

  .title {
    font-size: 34px;
    line-height: 44px;
    padding-bottom: 30px;
  }

  .contacts__box {
    width: 100%;
  }
}

@media(max-width: 360px) {
  .title {
    padding-top: 125px;
  }

  .menu__list {
    left: 10%;
    right: 10%;
  }

  .header-slider {
    padding-left: 0;
    padding-top: 0;
  }

  .header__content-btn {
    margin-left: 0;
  }

  .logo__img {
    width: 50%;
  }

  .title {
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .header__top {
    padding-top: 5px;
  }

  .header-slider {
    padding-bottom: 100px;
  }

  .product__content-btn {
    width: 100%;
  }

  .contacts__box {
    padding: 15px 0;
  }
}